<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB20</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebService</display-name>
    <servlet-name>WebService</servlet-name>
    <servlet-class>com.yellow.web.WebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebService</servlet-name>
    <url-pattern>/webService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebServlet</display-name>
    <servlet-name>WebServlet</servlet-name>
    <servlet-class>com.yellow.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServlet</servlet-name>
    <url-pattern>/webServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryWeb</display-name>
    <servlet-name>CategoryWeb</servlet-name>
    <servlet-class>com.yellow.web.CategoryWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryWeb</servlet-name>
    <url-pattern>/categoryWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductWeb</display-name>
    <servlet-name>ProductWeb</servlet-name>
    <servlet-class>com.yellow.web.ProductWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductWeb</servlet-name>
    <url-pattern>/productWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletProduction</display-name>
    <servlet-name>DeletProduction</servlet-name>
    <servlet-class>com.yellow.web.DeletProduction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletProduction</servlet-name>
    <url-pattern>/deletProduction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.yellow.web.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.yellow.web.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.yellow.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>